@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;1,300&family=El+Messiri&family=Goldman:wght@700&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&display=swap');

body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Goldman', cursive;
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgb(37, 37, 37);
    width: 60%;
    margin: 100px auto;
    text-align: center;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
h1{
    color: white;
}
.line{
    margin: 0 auto;
    width: 50%;
    border-bottom: 2px solid rgb(53, 53, 197);
}
.inputs{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.inputs input{
    width: 70%;
    padding: 10px 5px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.inputs .submit{
    margin-top: 30px;
    width: 30%;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(53, 53, 197);
}
.inputs .submit:hover{
    cursor: pointer;
}
.data_head{
    color: white;
    letter-spacing: 1px;
    font-size: larger;
}
.input_data{
    width: 70%;
    margin: auto;
}
.input_data p{
    color: white;
    font-family: 'Kanit', sans-serif;
}



